
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <a href="/Home/Index">Anasayfa</a>
    <br />
    <a href="/Home/Contact">İletişim</a>
</body>
</html>
