@{
    ViewData["Title"] = "Hakkımızda";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        <p>
            Bizler modern web teknolojileri (özellikle .NET ve Python gibi diller) üzerine çalışan ve bu bilgileri yeni nesil yazılımcılara aktaran bir ekibiz.
        </p>
        <p>
            Amacımız, front-end ve back-end entegrasyonlarını en doğru mimariyle kurabilen geliştiriciler yetiştirmektir.
        </p>
    </div>
    <div class="col-md-4">
        <div class="card bg-light p-3">
            <strong>Vizyonumuz:</strong> Temiz kod yazan ve DRY (Don't Repeat Yourself) prensibine uyan yazılımcılar topluluğu oluşturmak.
        </div>
    </div>
</div>

