
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>KATEGORİLER</h1>
    <a href="/Home/Index">Anasayfa</a>
</body>
</html>
